$body-background: #f4f4f4;
$default-text-color: #333435;
$article-text-color: #434445;
$primary-text-color: #af1a12;
$primary-color: #c32a22;
$blue-color: #166e77;
$orange-color: #c36e22;
$green-color: #1a972a;
$yellow-color: #c3a922;
$purple-color: #611c82;
$indigo-color: #3e2486;
$magenta-color: #d22ca3;
