@import "../../../style/abstracts/all";

:local(.listItem) {
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  padding: 0 8px;

  &:not(:local(.compact)) {
    align-items: flex-start;
    padding: 8px;
    @media (min-width: $screen-sm) {
      box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
      margin: 8px;
      width: 350px;
      border-radius: 4px;
      overflow: hidden;
      border: none;
      padding: 0;
      background-color: #fff;
      display: block;
    }
  }
}
