@import "../../style/abstracts/all";

:local(.formListElement) {
    border: 1px solid #bbb;
    border-radius: 4px;
    margin: 8px 0;
    padding: 8px 16px;
    background-color: #fff;
    :local(.formElementGroupTitle) {
        font-size: 1.2em;
        display: block;
        padding: 4px 8px;
        margin-top: 8px;
    }
    :local(.formElement) {
        display: flex;

        label {
            margin: 8px;
            width: 100%;
            display: block;
            font-weight: bold;
            > div {
                display: block;
            }
            input[type="text"],
            input[type="number"],
            textarea {
                display: block;
                width: 100%;
                max-width: 100%;
                font-family: $default-font;
                font-size: 1em;
                color: $default-text-color;
                font-weight: normal;
                padding: 8px;
                border: 1px solid #ddd;
                border-radius: 4px;
            }
            > span {
                font-size: 1em;
                display: block;
                padding: 8px 0;
                border: 1px solid transparent;
                font-family: $default-font;
                color: $default-text-color;
                font-weight: normal;
            }
            textarea {
                resize: vertical;
                min-height: 100px;
            }
            input[type="checkbox"] {
                @include appearance(checkbox);
                display: block;
                width: 18px;
                height: 30px;
            }
        }
    }
}
