@import "style/abstracts/_all.scss";

:local(.container) {
  position: absolute;
  @include calc('height', '100% - 56px');
  @media (min-width: $screen-sm) {
    @include calc('height', '100% - 64px');
  }
  overflow-y: scroll;
  width: 100%;
  a:focus {
    text-decoration: underline;
  }
}
