@use "../../../../style/abstracts/variables/breakpoints";

.listItemThumbnail {
  display: inline-block;
  width: 55px;
  height: 55px;
  margin: 9px 6px;
  border-radius: 50%;
  background-color: #e5e5e5;

  & picture {
    display: block;
    line-height: 0;

    & img {
      width: 55px;
      height: 55px;
      aspect-ratio: attr(width) / attr(height);
      border-radius: 50%;
      border: 1px solid #eee;
    }
  }

  &:not(.compact) {
    @media (min-width: breakpoints.$screen-sm) {
      flex: none;
      display: block;
      width: 100%;
      height: auto;
      margin: 0;
      border-radius: 0;
      &:not(.compact) {
        & picture {
          & img {
            width: 100%;
            color: red;
            height: auto;
            border-radius: 0;
            border: none;
          }
        }
      }
    }
  }

  &.fullscreen {
    width: 100%;
    height: auto;
    margin: 0;

    & picture {
      & img {
        border-radius: 0;
        border: none;
        width: 100%;
        height: auto;
      }
    }
  }
}
