@use "../../../../style/abstracts/variables/breakpoints";

.listItemThumbnail {
  display: inline-block;
  width: 55px;
  height: 55px;
  margin: 9px 6px;
  border-radius: 50%;
  background-color: #fff;
  aspect-ratio: 55 / 55;

  & picture {
    display: block;
    line-height: 0;

    & img {
      width: 55px;
      height: 55px;
      aspect-ratio: 55 / 55;
      border-radius: 50%;
      border: 1px solid #eee;
    }
  }

  &:not(.compact) {
    @media (min-width: breakpoints.$screen-sm) {
      flex: none;
      display: block;
      width: 100%;
      height: auto;
      margin: 0;
      border-radius: 0;
      aspect-ratio: attr(data-width) / attr(data-height);
      & picture {
        & img {
          width: 100%;
          height: auto;
          border-radius: 0;
          border: none;
          aspect-ratio: attr(width) / attr(height);
        }
      }
    }
  }

  &.fullscreen {
    width: 100%;
    height: auto;
    margin: 0;
    aspect-ratio: attr(data-width) / attr(data-height);

    & picture {
      & img {
        border-radius: 0;
        border: none;
        width: 100%;
        height: auto;
        aspect-ratio: attr(width) / attr(height);
      }
    }
  }
}
