@import "../../../../style/abstracts/all";

:local(.listItemContent) {
  @include calc('width', '100% - 55px')
  display: inline-block;
  padding: 6px;
  @media (min-width: $screen-sm) {
    padding: 16px;
    width: 100%;
  }
  &:local(.fullscreen) {
    width: 100%;
  }
}
