@import "../../../style/abstracts/all";

:local(.listItem) {
  @media (min-width: $screen-sm) {
    display: flex;
    align-items: center;
  }
  border-bottom: 1px solid #eee;
  padding: 8px 16px;

  :local(.thumbnail) {
    @media (min-width: $screen-sm) {
      flex: none;
    }
    display: inline-block;
    width: 55px;

    img {
      width: 55px;
      border-radius: 50%;
      border: 1px solid #eee;
    }
  }

  :local(.content) {
    @media (min-width: $screen-sm) {
      flex: 1;
    }
    @include calc('width', '100% - 55px')
    display: inline-block;
    padding: 6px 12px;

    :local(.header) {
      display: inline-block;

      h2 {
        margin: 0;
        font-size: 19px;
      }
    }

    :local(.body) {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          display: inline-block;
          margin-left: 6px;
          font-size: 14px;

          &:not(:first-child) {
            &:before {
              content: ' | ';
            }
          }

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }

  :local(.actionButton) {
    text-align: right;
    margin: 8px 0;
  }
}

:local(.gridItem) {
  background-color: #fff;
  width: 350px;
  margin: 8px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  overflow: hidden;

  :local(.content) {
    padding: 6px 12px;

    :local(.header) {
      h2 {
        margin: 0;
        font-size: 19px;
      }
    }

    :local(.body) {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          display: inline-block;
          margin-left: 6px;
          font-size: 14px;

          &:not(:first-child) {
            &:before {
              content: ' | ';
            }
          }

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }

  :local(.thumbnail) {
    img {
      width: 350px;
      width: 100%;
    }
  }

  :local(.actionButton) {
    text-align: right;
    margin: 12px;
  }
}

:local(.linksModalOverlay) {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  background: rgba(0,0,0,.5);
  height: 100%;
  top: 0;
  left: 0;
  align-content: center;
  padding: 36px;
  z-index: 2;

  :local(.linksModalContent) {
    max-width: 435px;
    width: 100%;
    margin: auto;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 11px 15px -7px rgba(0,0,0,0.2), 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12);
    border-radius: 4px;
    @media (min-width: $screen-sm) {}

    h3 {
      display: block;
      margin: 0 0 12px;
    }
  }
}
