@import "../../../style/abstracts/all";

:local(.listItem) {
  @media (min-width: $screen-sm) {
    display: flex;
    align-items: center;
  }
  border-bottom: 1px solid #eee;
  padding: 8px 16px;

  :local(.thumbnail) {
    @media (min-width: $screen-sm) {
      flex: none;
    }
    display: inline-block;
    width: 55px;

    img {
      width: 55px;
      border-radius: 50%;
      border: 1px solid #eee;
    }
  }

  :local(.content) {
    @media (min-width: $screen-sm) {
      flex: 1;
    }
    @include calc('width', '100% - 55px')
    display: inline-block;
    padding: 6px 12px;

    :local(.header) {
      display: inline-block;

      h2 {
        margin: 0;
        font-size: 19px;
      }
    }

    :local(.body) {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          display: inline-block;
          margin-left: 6px;
          font-size: 14px;

          &:not(:first-child) {
            &:before {
              content: ' | ';
            }
          }

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }

  :local(.actionButton) {
    text-align: right;
    margin: 8px 0;
  }
}

:local(.fullscreen) {
  border-radius: 4px;
  overflow: hidden;

  :local(.content) {
    padding: 6px 12px;

    :local(.header) {
      h2 {
        margin: 0;
        font-size: 22px;
      }
    }

    :local(.body) {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          display: inline-block;
          margin-left: 6px;
          font-size: 14px;

          &:not(:first-child) {
            &:before {
              content: ' | ';
            }
          }

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }

  :local(.thumbnail) {
    img {
      width: 100%;
    }
  }

  :local(.actionButton) {
    text-align: right;
    margin: 12px;
  }
}

:local(.links) {
  display: block;
  padding: 8px 0;
  h3 {
    text-align: center;
  }
}
