@import "../../../style/abstracts/all";

:local(.releaseLinks) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 8px 0;

  :local(.link) {
    margin: 6px;

    svg {
      height: 34px;
      width: 34px;
      @media (min-width: $screen-sm) {
        height: 45px;
        width: 45px;
      }
    }
  }
}
