@import "../../../style/abstracts/all";

:local(.table) {
  font-size: 12px;

  :local(.tableRow) {
    border-bottom: 1px solid #eee;
    @media (min-width: $screen-sm) {
      display: flex;
    }

    > div {
      padding: 8px;
      word-break: break-word;

      &:nth-child(1) {
        flex: 2;
      }

      &:nth-child(2) {
        flex: 2;
      }

      &:nth-child(3) {
        flex: 3;
      }

      &:nth-child(4) {
        flex: 1;
      }

      &:nth-child(5) {
        flex: 2;
      }

      &:nth-child(6) {
        flex: 3;
      }

      :local(.tableDataLabel) {
        font-weight: bold;
        display: block;
        @media (min-width: $screen-sm) {}
      }
    }
  }
}
