@import "../../style/abstracts/all";

img {
  width: 100%;
}

:local(.header) {
  position: relative;
  overflow: hidden;

  :local(.backgroundsImage) {
    position: absolute;
  }

  :local(.overlay) {
    background-color: rgba(25,25,25,.75);
    display: flex;
    position: relative;
    padding: 16px 24px;

    :local(.logo) {
      margin: auto;
      width: 200px;
    }
    @media (min-width: $screen-xs) {
      height: 200px;
    }
    @media (min-width: $screen-sm) {
      height: 350px;

      :local(.logo) {
        width: 250px;
      }
    }
    @media (min-width: $screen-md) {
      height: 400px;

      :local(.logo) {
        width: 300px;
      }
    }
    @media (min-width: $screen-lg) {
      height: 450px;

      :local(.logo) {
        width: 350px;
      }
    }
    @media (min-width: $screen-xl) {
      height: 500px;

      :local(.logo) {
        width: 400px;
      }
    }
  }
}

:local(.contentSection) {
  max-width: 1200px;
  padding: 64px 24px;
  margin: auto;

  > h2 {
    text-align: center;
  }
}

:local(.socialMediaSection) {
  background-color: #202122;

  h2 {
    color: #fff;
  }
}

:local(.latestPostsSection) {
  background-color: #eee;

  :local(.callToAction) {
    text-align: center;
    margin: 16px 0;

    a {}
  }
}
