@import "../../style/abstracts/all";

:local(.container) {
  max-width: 1200px;
  margin: auto;
}

h1 {}

:local(.viewTypeButton) {
  font-size: 22px;
  margin-bottom: 10px;
}

:local(.releases) {
  :local(.list) {
    background-color: #fff;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  }

  :local(.grid) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
