@import "../../style/abstracts/all";

.actionButtonBar {
    position: fixed;
    bottom: 0;
    right: 0;

    & button {
        @include appearance(none);
        @include box-shadow(
            0 2px 4px -1px rgba(0, 0, 0, 0.2),
            0 4px 5px 0 rgba(0, 0, 0, 0.14),
            0 1px 10px 0 rgba(0, 0, 0, 0.12)
        );

        text-align: center;
        display: inline-block;
        border-radius: 50%;
        padding: 10px;
        font-size: 14px;
        text-transform: uppercase;
        width: 75px;
        height: 75px;
        margin: 0 8px 8px 0;
        & svg {
            font-size: 30px;
            display: block;
            margin: auto;
            margin-bottom: 4px;
        }
    }
}
