@import "../../style/abstracts/all";

:local(.button) {
  @include appearance(none);
  @include border-radius(4px);
  @include transition(background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms);
  padding: 4px 8px;
  font-size: 0.81rem;
  font-weight: 500;
  text-transform: uppercase;

  &:local(.minimal) {
    color: $primary-color;
    background-color: transparent;

    &:hover,
    &:focus {
      background-color: rgba(195, 42, 34, 0.08);
    }

    &:active {
      background-color: rgba(195, 42, 34, 0.38);
    }
  }

  &:local(.default) {}
}
