@import "../../style/abstracts/all";

:local(.footer) {
  background-color: #eee;

  :local(.contentSection) {
    max-width: 1200px;
    padding: 16px;
    margin: auto;
    flex: 1;

    :local(.map) {
      margin: 0;

      img {
        width: 100%;
        height: auto;
      }
    }

    :local(.grid) {
      @media (min-width: $screen-md) {
        display: flex;
      }

      :local(.textSection) {
        @media (min-width: $screen-md) {
          flex: 1;
        }
      }

      :local(.mapSection) {
        @media (min-width: $screen-md) {
          flex: 2;
        }
      }
    }
  }

  :local(.addressContent) {
    ul {
      list-style: none;
      padding: 0;

      li {
        margin: 6px 0;
      }
    }
  }
}
