@import "../../style/abstracts/all";

:local(.menuButton) {
  line-height: 64px;
  width: 64px;
  text-align: center;

  :local(.menuIcon) {
    vertical-align: middle;
    fill: #fff;
    width: 32px;
    height: 32px;
    display: inline-block;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0;
  }
}

:local(.navigationBar) {
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2), 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12);
  background-color: #1976d2;
  background-color: #0068c1;
  background-color: #C32A22;
  color: #fff;
  position: relative;
  z-index: 2;
  height: 56px;
  display: flex;
  align-items: center;
  @media (min-width: $screen-sm) {
    height: 64px;
  }

  :local(.appLogo) {
    display: inline-block;
    padding: 8px;
    width: 276px;

    svg {}
  }
}
