@import "../../style/abstracts/all";

.searchResultContent {
  padding: 8px 0;
  @media (min-width: $screen-sm) {
    display: flex;
    align-items: center;
    padding: 0;
  }
  & .searchResultContentText {
    flex: 1;
  }
  & .searchResultContentBadge {
    width: 105px;
    font-weight: bold;
    margin: 6px 0;
    @media (min-width: $screen-sm) {
      text-align: right;
    }

    > span {
      background-color: #eee;
      border-radius: 4px;
      padding: 6px;
      color: #fff;
      font-size: 0.75em;

      & svg {
        margin-right: 2px;
      }
    }

    &.release {
      > span {
        background-color: $blue-color;
      }
    }

    &.post {
      > span {
        background-color: $primary-color;
      }
    }

    &.video {
      > span {
        background-color: $yellow-color;
      }
    }

    &.product {
      > span {
        background-color: $indigo-color;
      }
    }

    &.instruments {
      > span {
        background-color: $orange-color;
      }
    }

    &.effects {
      > span {
        background-color: $purple-color;
      }
    }

    &.amplifiers {
      > span {
        background-color: $green-color;
      }
    }
  }
}
