@import "../../../style/abstracts/all";

:local(.hidden) {
  height: 0;
  width: 0;
  position: absolute;
  color: transparent;
  overflow: hidden;
}

:local(.searchFieldContainer) {
  @include transition(max-width 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, margin-left 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms);

  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.15);
  width: 100%;
  max-width: 150px;
  margin-left: 14px;

  @media (min-width: 350px) {
    max-width: 170px;
    margin-left: 4px;
    &:focus-within {
      max-width: 200px;
    }
  }
  @media (min-width: $screen-sm) {
    max-width: 220px;
    margin-left: 81px;
    &:focus-within {
      max-width: 250px;
    }
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.25);
  }

  svg {
    position: relative;
    left: 16px;
    margin-right: -16px;
  }

  :local(input.searchField) {
    border-color: transparent;
    box-shadow: none;
    padding: 8px 8px 8px 40px;
    background: none;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 2;
    width: 100%;

    &:focus {
      outline: none;
    }

    &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: rgba(255, 255, 255, 0.5);
      opacity: 1;
      /* Firefox */
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: rgba(255, 255, 255, 0.5);
    }

    &::-ms-input-placeholder {
      /* Microsoft Edge */
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

:local(.resultsListContainer) {
  display: none;
  position: absolute;
  top: 52px;
  left: 0;
  width: 100%;
  padding: 0 16px;
  @media (min-width: $screen-sm) {
    top: 56px;
  }

  &:local(.active) {
    display: block;
  }

  :local(.resultsList) {
    @include box-shadow(0 5px 5px -3px rgba(0,0,0,0.2), 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12));
    color: $default-text-color;
    background-color: #fff;
    padding: 8px 0;
    border-radius: 4px;
    margin: auto;
    max-height: 180px;
    overflow-y: auto;
    @media (min-width: $screen-xs) {
      max-height: 220px;
    }
    @media (min-width: $screen-sm) {
      max-width: 600px;
      max-height: 450px;
      min-width: 150px;
    }

    :local(.resultsListItem) {
      color: $default-text-color;
      padding: 8px 16px;
      display: flex;
      align-items: center;

      &:focus,
      &:hover {
        background-color: rgba(0, 0, 0, 0.08);
      }

      &:active {
        background-color: rgba(0, 0, 0, 0.38);
      }

      > svg {
        margin-right: 3px;
      }

      picture {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        overflow: hidden;
      }

      :local(.resultsListItemText) {
        flex: 1;
        padding: 0 8px;
      }

      :local(.resultsListItemTypeLabel) {
        width: 105px;
        text-align: right;
        font-size: 0.75em;
        font-weight: bold;

        > span {
          background-color: #eee;
          border-radius: 4px;
          padding: 6px;
          color: #fff;

          svg {
            margin-right: 2px;
          }
        }

        &:local(.release) {
          > span {
            background-color: $blue-color;
          }
        }

        &:local(.post) {
          > span {
            background-color: $primary-color;
          }
        }

        &:local(.video) {
          > span {
            background-color: $yellow-color;
          }
        }

        &:local(.product) {
          > span {
            background-color: $indigo-color;
          }
        }

        &:local(.instruments) {
          > span {
            background-color: $orange-color;
          }
        }

        &:local(.effects) {
          > span {
            background-color: $purple-color;
          }
        }

        &:local(.amplifiers) {
          > span {
            background-color: $green-color;
          }
        }
      }
    }
  }
}
