@import "../../style/abstracts/all";

:local(.postModalOverlay) {
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  width: 100%;
  background: rgba(0,0,0,.75);
  height: 100%;
  top: 0;
  left: 0;
  align-content: center;
  padding: 16px;
  z-index: 2;
  justify-content: center;
  @media (min-width: $screen-sm) {
    padding: 36px;
  }

  :local(.arrowLeftButton),
  :local(.arrowRightButton) {
    align-self: center;
    padding: 22px;
    color: rgba(255,255,255,.5);
    cursor: pointer;
    svg {
      @include transform(rotate(90deg));
      @media (min-width: $screen-sm) {
        @include transform(none);
      }
    }
  }
  :local(.arrowPlaceholderButton){
    width: 64px;
  }

  :local(.postModalContent) {
    @include calc('max-height', '100% - 128px');
    max-width: 540px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 11px 15px -7px rgba(0,0,0,0.2), 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12);
    border-radius: 4px;
    overflow: auto;
    @media (min-width: $screen-sm) {
      @include calc('width', '100% - 128px');
      max-height: 100%;
    }
  }
}
