@use "style/abstracts/_all.scss";
@use "style/abstracts/mixins/calc";
@use "style/abstracts/variables/breakpoints";

.container {
  position: absolute;
  @include calc.calc('height', '100% - 56px');
  @media (min-width: breakpoints.$screen-sm) {
    @include calc.calc('height', '100% - 64px');
  }
  overflow-y: scroll;
  width: 100%;
  & a:focus {
    text-decoration: underline;
  }
}
